@import 'themeColors';
//https://medium.com/a-beginners-guide-for-webpack-2/using-sass-9f52e447c5ae

body {
  background-color: $themeColor-Light;
    font-size: 20px;
  h1, h2 {
      color: $themeColor-Dark;
      font-size: 20px;

  }
}

div {
    background-color:#99cc00;
    padding:10px;
}

.settingIcon{
    background-image:url('../../images/setting.svg');
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    display:inline-block;
}
